<header>
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Resharevoir book!</a>
    </div>

  </nav>  
</header>

 <main>
 	<span *ngIf="!authenticated">
		Login with: <a href="/login">Facebook</a>
		Login with: <a href="/github">GitHub</a>
		Login with: <a href="#">Formulario</a>
 	</span>
 	<span *ngIf="authenticated">
 		Hola {{loguedUsername}}<br>
		<button (click)="doLogout()" class="btn btn-primary">Logout</button>
 	</span>
    <user-list *ngIf="authenticated"></user-list>
</main>
 
<footer class="col-sm-12 text-center">Copyright NCAMBROSIO 2017</footer>
